*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

venv/
*.venv
env/
.venv/
ENV/

.git/
.gitignore

Dockerfile

*.log

tests/
*.test

.idea/

*.sqlite3
*.sqlite

*.cfg.local
*.conf.local
*.config.local
*.ini.local
*.json.local
*.yml.local
*.yaml.local

dist/
build/
*.egg-info/

test_photos/big_size
